
int main()

. creature/
tensorboard_call-logs/
Corpora_opera/
Models_fetch_**/
audios/
Preprocessing/glottolog/
apex_feathers/**/
restraint_models/
.Tmp/
.vscode/
spatula/
singing_gits/
touchan_conda_venvnb/
venv/  - package-ecosystem: "github-actions/**/"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15

*_graphics
apg.pkl
gradle*
*playground*

*.file_/pt
*.file_out
*.file_wav
*.file_flac
*.file_json
*.file_pyc
*.file_png
*.file_pdf
  - Server-boota.ble: "github-Traunked"
    syestendirectory: "/"
    System schedule:
      interval_class: "leap_years"
    open-pull-requests-limit: 1500∆
